<div class="container">
  <h1>Manage load</h1>
  <div>
    Enter job id:&nbsp;
    <input id="jobIdRec" #jobIdRec type="text" />
    <button
      style="margin: 5px 5px 5px 5px;"
      (click)="onClickTrackLoad(jobIdRec.value)"
    >
      Track load
    </button>
    <h3>Recieve load</h3>
    <div>
      Enter sign off code:&nbsp;
      <input id="uKeyRec" #uKeyRec type="text" />

      <button
        style="margin: 5px 5px 5px 5px;"
        (click)="onClickSignOff(jobIdRec.value, uKeyRec.value)"
      >
        Sign off load
      </button>
    </div>
  </div>
</div>
