/* You can add global styles to this file, and also import other style files */
body {
    background-color: #95C8D8;
}

body{
    background: #95C8D8;
}
table {
     font-family: montserrat, sans-serif;
      border-collapse: collapse;
      width: 100%;
}

td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
}

tr:nth-child(even) {
      background-color: #dddddd;
}